*{
  padding: 0;
  margin: 0;
}
body{
  overflow: hidden;
  background-size: cover; /* Make the image cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100%;
  height: 100vh; /* Make the container take the full viewport height */
  display: flex;
}
